---
import IFrameLayout from "@layouts/IframeLayout.astro";
---

<IFrameLayout title="Qualabs | ASL Video">
  <div class="asl-container">
    <video id="asl-video" preload="auto" loop src="/bear-vp9a.webm" autoplay
    ></video>
  </div>
</IFrameLayout>

<style>
  .asl-container {
    width: 300px;
    height: 200px;
    bottom: 0;
    right: 0;
    position: absolute;
  }
</style>

<script>
  window.addEventListener("message", function (event) {
    var video = document.getElementById("asl-video");
    var data = event.data;

    switch (data.event) {
      case "playing":
        video.play();
        break;
      case "paused":
        video.pause();
        break;
    }
  });
</script>
