---
import { Image } from "astro:assets";

import QualabsLogo from "@assets/qualabs.svg";
import QualabsText from "@assets/qualabs-text.svg";
---

<div class="marquee-container">
  <div class="marquee">
    <img src={QualabsLogo.src} alt="Qualabs Logo" />
    <img src={QualabsText.src} alt="Qualabs Text" />
  </div>
</div>

<style>
  .marquee-container {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 1rem 0 1rem 1rem;
  }
  .marquee {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: max-content;
    margin: 0;
    text-align: center;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.89);
    border: 1px solid #ffffff;
    backdrop-filter: blur(7px);
    width: 100%;
    box-shadow: 0px 4px 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
    overflow: hidden;

    span {
      font-size: 2vw;
      text-transform: uppercase;
      color: black;
    }

    img {
      &:nth-child(1) {
        height: 100%;
      }

      &:nth-child(2) {
        width: 50%;
      }
    }
  }
</style>
