---
import IFrameLayout from "@layouts/IframeLayout.astro";
import FullScreenIcon from "@components/Icons/FullScreenIcon.astro";
---

<IFrameLayout title="Qualabs | Tennis Match Video">
  <div class="video-container">
    <button id="scale-button" type="button"><FullScreenIcon /></button>
    <video id="tennis-match-video" preload="auto" loop autoplay muted></video>
    <div id="ttml-rendering-div"></div>
  </div>
</IFrameLayout>

<style lang="scss">

  #scale-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 30px;
    height: 30px;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    border-radius: 5px;
    padding: 2px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .video-container {
    width: 35%;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    transition: width 0.3s ease-in-out;

    :hover {
      background-color: aquamarine;
    }

    &.fullscreen {
      width: 100%;
      border: unset;
    }

    @media screen and (min-width: 768px) {
      width: 30%;
    }
  }
</style>

<script is:inline src="https://cdn.dashjs.org/v3.1.0/dash.all.min.js"></script>

<script>
  var CAPTION_URL =
      "https://d1lytwcb2ho7l3.cloudfront.net/asl_1920x1080/dash/output.mpd",
    $video,
    player;
  
  const $videoContainer = document.querySelector(".video-container");
  const $scaleButton = document.querySelector("#scale-button");

  $scaleButton.addEventListener("click", () => {
    $videoContainer.classList.toggle("fullscreen");

    if($videoContainer.classList.contains("fullscreen")) {
      $scaleButton.innerHTML = `<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M18 7h4v2h-6V3h2v4ZM8 9H2V7h4V3h2v6Zm10 8v4h-2v-6h6v2h-4ZM8 15v6H6v-4H2v-2h6Z" stroke="none"/></svg>`;
    } else {
      $scaleButton.innerHTML = `<svg stroke="currentColor" fill="white" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M16 3H22V9H20V5H16V3ZM2 3H8V5H4V9H2V3ZM20 19V15H22V21H16V19H20ZM4 19H8V21H2V15H4V19Z"></path></svg>`;
    }
  });

  function init() {
    var url = CAPTION_URL,
      $TTMLRenderingDiv;

    $video = document.querySelector("#tennis-match-video");
    $TTMLRenderingDiv = document.querySelector("#ttml-rendering-div");

    player = dashjs.MediaPlayer().create();
    player.initialize($video, url, true);
    player.attachTTMLRenderingDiv($TTMLRenderingDiv);
  }

  window.addEventListener("message", function (event) {
    var data = event.data;

    switch (data.event) {
      case "playing":
        $video.play();
        break;
      case "paused":
        $video.pause();
        break;
    }
  });

  init();
</script>
