---
import { Image } from "astro:assets";

import dashjsLogo from "../assets/dashjs-logo.svg";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Unlock new possibilities adding videos, images, and interactive iframes into dash.js"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <a href="/">
        <Image src={dashjsLogo} alt="dash.js Logo" width="300" class="logo" />
      </a>
      <slot />
    </main>
    <footer>
      <p class="copyright">Copyright © 2012-present</p>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Inter";
    background: #080b36;
  }
  main {
    margin: auto;
    padding: 1rem 0;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    position: relative;
    max-width: 1344px;
  }
  .logo {
    margin: 0 auto;
    width: 10rem;

    @media (min-width: 768px) {
      margin: 0;
      margin: 1rem 4rem;
    }
  }

  .copyright {
    padding: 2rem 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.5;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
